Prerequisites/
Source/Service/JustGivingService/obj/
Source/Service/JustGivingService/bin/
Source/Service/JustGivingThrift/obj/
Source/Service/JustGivingThrift/bin/
Source/ServiceConfig/ReactComponents/node_modules/
Source/Service/packages/
Source/Thrift/gen-csharp/
Source/Thrift/gen-java/
Source/ServiceConfig/ReactComponents/bundle.js
Source/ServiceConfig/ReactComponents/source/JustGivingConfig.sublime-project
Source/ServiceConfig/ReactComponents/source/JustGivingConfig.sublime-workspace
Source/ServiceConfig/.metadata
Source/ServiceConfig/.recommenders
Source/ServiceConfig/ConfigServlet/.settings
Source/ServiceConfig/ConfigServlet/bin
